In [1]:
# Pandas for data analysis:
import pandas as pd

# SQLAlchemy gives us a bunch of database tools:
import sqlalchemy as sa

# Import the top level PUDL package:
import pudl

In [2]:
pudl_settings = pudl.workspace.setup.get_defaults()
ferc1_engine = sa.create_engine(pudl_settings["ferc1_db"])

In [4]:
f1_plant_in_srvc = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_plant_in_srvce.*
FROM f1_respondent_id INNER JOIN (f1_plant_in_srvce INNER JOIN f1_row_lit_tbl ON (f1_plant_in_srvce.report_year = f1_row_lit_tbl.report_year) AND (f1_plant_in_srvce.row_number = f1_row_lit_tbl.row_number) AND (f1_plant_in_srvce.row_seq = f1_row_lit_tbl.row_seq)) ON f1_respondent_id.respondent_id = f1_plant_in_srvce.respondent_id
WHERE (((f1_row_lit_tbl.sched_table_name)="f1_plant_in_srvce"))
ORDER BY f1_plant_in_srvce.report_year, f1_respondent_id.respondent_name, f1_plant_in_srvce.spplmnt_num, f1_plant_in_srvce.row_number;""", ferc1_engine)

In [13]:
f1_incm_stmnt = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_income_stmnt.*
FROM f1_respondent_id INNER JOIN (f1_income_stmnt INNER JOIN f1_row_lit_tbl ON (f1_income_stmnt.report_year = f1_row_lit_tbl.report_year) AND (f1_income_stmnt.row_number = f1_row_lit_tbl.row_number) AND (f1_income_stmnt.row_seq = f1_row_lit_tbl.row_seq)) ON f1_respondent_id.respondent_id = f1_income_stmnt.respondent_id
WHERE (((f1_row_lit_tbl.sched_table_name)="f1_income_stmnt"))
ORDER BY f1_income_stmnt.report_year DESC , f1_respondent_id.respondent_name, f1_income_stmnt.report_prd DESC , f1_income_stmnt.spplmnt_num, f1_income_stmnt.row_number;""", ferc1_engine)

f1_incm_stmnt = f1_incm_stmnt.drop(f1_incm_stmnt.filter(like='_f').columns, axis=1)

In [9]:
f1_incm_stmnt_2 = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_incm_stmnt_2.*
FROM f1_respondent_id INNER JOIN (f1_incm_stmnt_2 INNER JOIN f1_row_lit_tbl ON (f1_incm_stmnt_2.report_year = f1_row_lit_tbl.report_year) AND (f1_incm_stmnt_2.row_number = f1_row_lit_tbl.row_number) AND (f1_incm_stmnt_2.row_seq = f1_row_lit_tbl.row_seq)) ON f1_respondent_id.respondent_id = f1_incm_stmnt_2.respondent_id
WHERE (((f1_row_lit_tbl.sched_table_name)="f1_incm_stmnt_2"))
ORDER BY f1_incm_stmnt_2.report_year DESC , f1_respondent_id.respondent_name, f1_incm_stmnt_2.report_prd DESC , f1_incm_stmnt_2.spplmnt_num, f1_incm_stmnt_2.row_number;""", ferc1_engine)

f1_incm_stmnt_2 = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_accumdepr_prvsn = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_accumdepr_prvsn.*
FROM f1_respondent_id INNER JOIN (f1_accumdepr_prvsn INNER JOIN f1_row_lit_tbl ON (f1_accumdepr_prvsn.row_seq = f1_row_lit_tbl.row_seq) AND (f1_accumdepr_prvsn.row_number = f1_row_lit_tbl.row_number) AND (f1_accumdepr_prvsn.report_year = f1_row_lit_tbl.report_year)) ON f1_respondent_id.respondent_id = f1_accumdepr_prvsn.respondent_id
WHERE (((f1_row_lit_tbl.sched_table_name)="f1_accumdepr_prvsn"))
ORDER BY f1_accumdepr_prvsn.report_year, f1_respondent_id.respondent_name, f1_accumdepr_prvsn.spplmnt_num, f1_accumdepr_prvsn.row_number;""", ferc1_engine)

f1_accumdepr_prvsn = f1_accumdepr_prvsn.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_edcfu_epda = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_edcfu_epda.*
FROM f1_respondent_id INNER JOIN (f1_edcfu_epda INNER JOIN f1_row_lit_tbl ON (f1_edcfu_epda.row_seq = f1_row_lit_tbl.row_seq) AND (f1_edcfu_epda.row_number = f1_row_lit_tbl.row_number) AND (f1_row_lit_tbl.report_year = f1_edcfu_epda.report_year)) ON f1_respondent_id.respondent_id = f1_edcfu_epda.respondent_id
WHERE (((f1_edcfu_epda.report_year)>=2015) AND ((f1_row_lit_tbl.sched_table_name)="f1_edcfu_epda"))
ORDER BY f1_edcfu_epda.report_year, f1_respondent_id.respondent_name, f1_edcfu_epda.spplmnt_num, f1_edcfu_epda.row_number;
""", ferc1_engine)

f1_edcfu_epda = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_elc_op_mnt_exp = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_elc_op_mnt_expn.*
FROM f1_respondent_id INNER JOIN (f1_elc_op_mnt_expn INNER JOIN f1_row_lit_tbl ON (f1_elc_op_mnt_expn.row_seq = f1_row_lit_tbl.row_seq) AND (f1_elc_op_mnt_expn.row_number = f1_row_lit_tbl.row_number) AND (f1_elc_op_mnt_expn.report_year = f1_row_lit_tbl.report_year)) ON f1_respondent_id.respondent_id = f1_elc_op_mnt_expn.respondent_id
WHERE (((f1_row_lit_tbl.sched_table_name)="f1_elc_op_mnt_expn"))
ORDER BY f1_elc_op_mnt_expn.report_year, f1_respondent_id.respondent_name, f1_elc_op_mnt_expn.spplmnt_num, f1_elc_op_mnt_expn.row_number;
""", ferc1_engine)

f1_elc_op_mnt_exp = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_gnrt_plant = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_gnrt_plant.respondent_id, f1_gnrt_plant.report_year, f1_gnrt_plant.spplmnt_num, f1_gnrt_plant.row_number, f1_gnrt_plant.row_seq, f1_gnrt_plant.row_prvlg, f1_gnrt_plant.plant_name, f1_gnrt_plant.yr_constructed, f1_gnrt_plant.capacity_rating, f1_gnrt_plant.net_demand, f1_gnrt_plant.net_generation, f1_gnrt_plant.plant_cost, f1_gnrt_plant.plant_cost_mw, f1_gnrt_plant.operation, f1_gnrt_plant.expns_fuel, f1_gnrt_plant.expns_maint, f1_gnrt_plant.kind_of_fuel, f1_gnrt_plant.fuel_cost, f1_gnrt_plant.report_prd
FROM f1_respondent_id INNER JOIN f1_gnrt_plant ON f1_respondent_id.respondent_id = f1_gnrt_plant.respondent_id
WHERE (((f1_gnrt_plant.plant_name)<>""))
ORDER BY f1_gnrt_plant.report_year, f1_respondent_id.respondent_name, f1_gnrt_plant.spplmnt_num, f1_gnrt_plant.row_number;""", ferc1_engine)

f1_gnrt_plant = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_hydro = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_hydro.respondent_id, f1_hydro.report_year, f1_hydro.spplmnt_num, f1_hydro.row_number, f1_hydro.row_seq, f1_hydro.row_prvlg, f1_hydro.project_no, f1_hydro.plant_name, f1_hydro.plant_kind, f1_hydro.plant_const, f1_hydro.yr_const, f1_hydro.yr_installed, f1_hydro.tot_capacity, f1_hydro.peak_demand, f1_hydro.plant_hours, f1_hydro.favorable_cond, f1_hydro.adverse_cond, f1_hydro.avg_num_of_emp, f1_hydro.net_generation, f1_hydro.cost_of_land, f1_hydro.cost_structure, f1_hydro.cost_facilities, f1_hydro.cost_equipment, f1_hydro.cost_roads, f1_hydro.cost_plant_total, f1_hydro.cost_per_kw, f1_hydro.expns_operations, f1_hydro.expns_water_pwr, f1_hydro.expns_hydraulic, f1_hydro.expns_electric, f1_hydro.expns_generation, f1_hydro.expns_rents, f1_hydro.expns_engnr, f1_hydro.expns_structures, f1_hydro.expns_dams, f1_hydro.expns_plant, f1_hydro.expns_misc_plant, f1_hydro.expns_total, f1_hydro.expns_kwh, f1_hydro.report_prd
FROM f1_respondent_id INNER JOIN f1_hydro1 ON f1_respondent_id.respondent_id = f1_hydro.respondent_id
WHERE (((f1_hydro.plant_name)<>""))
ORDER BY f1_hydro.report_year, f1_respondent_id.respondent_name, f1_hydro.spplmnt_num, f1_hydro.row_number;
""", ferc1_engine)

f1_hydro = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_purchased_pwr = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_purchased_pwr.respondent_id, f1_purchased_pwr.report_year, f1_purchased_pwr.spplmnt_num, f1_purchased_pwr.row_number, f1_purchased_pwr.row_seq, f1_purchased_pwr.row_prvlg, f1_purchased_pwr.athrty_co_name, f1_purchased_pwr.sttstcl_clssfctn, f1_purchased_pwr.rtsched_trffnbr, f1_purchased_pwr.avgmth_bill_dmnd, f1_purchased_pwr.avgmth_ncp_dmnd, f1_purchased_pwr.avgmth_cp_dmnd, f1_purchased_pwr.mwh_purchased, f1_purchased_pwr.mwh_recv, f1_purchased_pwr.mwh_delvd, f1_purchased_pwr.dmnd_charges, f1_purchased_pwr.erg_charges, f1_purchased_pwr.othr_charges, f1_purchased_pwr.settlement_tot, f1_purchased_pwr.report_prd
FROM f1_respondent_id INNER JOIN (f1_purchased_pwr INNER JOIN f1_row_lit_tbl ON (f1_purchased_pwr.row_seq = f1_row_lit_tbl.row_seq) AND (f1_purchased_pwr.row_number = f1_row_lit_tbl.row_number) AND (f1_purchased_pwr.report_year = f1_row_lit_tbl.report_year)) ON f1_respondent_id.respondent_id = f1_purchased_pwr.respondent_id
WHERE (((f1_row_lit_tbl.sched_table_name)="f1_purchased_pwr"))
ORDER BY f1_purchased_pwr.report_year, f1_respondent_id.respondent_name, f1_purchased_pwr.spplmnt_num, f1_purchased_pwr.row_number;""", ferc1_engine)

f1_purchased_pwr = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_sale_for_resale = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_row_lit_tbl.row_literal, f1_sale_for_resale.*
FROM f1_respondent_id INNER JOIN (f1_sale_for_resale INNER JOIN f1_row_lit_tbl ON (f1_sale_for_resale.report_year = f1_row_lit_tbl.report_year) AND (f1_sale_for_resale.row_number = f1_row_lit_tbl.row_number) AND (f1_sale_for_resale.row_seq = f1_row_lit_tbl.row_seq)) ON f1_respondent_id.respondent_id = f1_sale_for_resale.respondent_id
WHERE (((f1_sale_for_resale.report_year)>=2010) AND ((f1_row_lit_tbl.sched_table_name)="f1_sale_for_resale"))
ORDER BY f1_sale_for_resale.report_year, f1_respondent_id.respondent_name, f1_sale_for_resale.spplmnt_num, f1_sale_for_resale.row_number;""", ferc1_engine)

f1_sale_for_resale = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [ ]:
f1_steam = pd.read_sql(
    """SELECT f1_respondent_id.respondent_name, f1_steam.respondent_id, f1_steam.report_year, f1_steam.spplmnt_num, f1_steam.row_number, f1_steam.row_seq, f1_steam.row_prvlg, f1_steam.plant_name, f1_steam.plant_kind, f1_steam.type_const, f1_steam.yr_const, f1_steam.yr_installed, f1_steam.tot_capacity, f1_steam.peak_demand, f1_steam.plant_hours, f1_steam.plnt_capability, f1_steam.when_not_limited, f1_steam.when_limited, f1_steam.avg_num_of_emp, f1_steam.net_generation, f1_steam.cost_land, f1_steam.cost_structure, f1_steam.cost_equipment, f1_steam.cost_of_plant_to, f1_steam.cost_per_kw, f1_steam.expns_operations, f1_steam.expns_fuel, f1_steam.expns_coolants, f1_steam.expns_steam, f1_steam.expns_steam_othr, f1_steam.expns_transfer, f1_steam.expns_electric, f1_steam.expns_misc_power, f1_steam1.expns_rents, f1_steam1.expns_allowances, f1_steam1.expns_engnr, f1_steam1.expns_structures, f1_steam1.expns_boiler, f1_steam1.expns_plants, f1_steam1.expns_misc_steam, f1_steam1.tot_prdctn_expns, f1_steam1.expns_kwh, f1_steam1.report_prd
FROM f1_respondent_id INNER JOIN f1_steam ON f1_respondent_id.respondent_id = f1_steam.respondent_id
WHERE (((f1_steam.plant_name)<>""))
ORDER BY f1_steam.report_year, f1_respondent_id.respondent_name, f1_steam.spplmnt_num, f1_steam.row_number;""", ferc1_engine)

f1_steam = f1_incm_stmnt_2.drop(f1_incm_stmnt_2.filter(like='_f').columns, axis=1)

In [17]:
f1_incm_stmnt.to_csv(r'C:\Users\smardell\Desktop')

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\smardell\\Desktop'

In [10]:
f1_incm_stmnt_2.sample(10)

,respondent_name,row_literal,respondent_id,report_year,spplmnt_num,row_number,row_seq,row_prvlg,cy_other_total,prev_yr_total,curr_3_mon,prior_3_mon,report_prd
113482,Northern States Power Company (Wisconsin),TOTAL Other Income (Enter Total of lines 31 th...,121,2006,0,41,41,N,1199825.0,382561.0,552774.0,18363.0,9
127352,Cambridge Electric Light Company,Life Insurance (426.2),15,2004,0,46,46,N,-94212.0,-3733.0,NaN,NaN,12
22471,New England Electric Transmission Corporation,Net Utility Operating Income (Carried forward ...,110,2016,0,27,27,,131271.0,-17714.0,131271.0,-17714.0,3
113892,Oncor Electric Delivery Company LLC,Other Deductions (426.5),282,2006,0,49,49,N,553139.0,4238396.0,259457.0,1073214.0,6
109762,DTE Electric Company,TOTAL Other Income (Enter Total of lines 31 th...,44,2006,0,41,41,,-13609259.0,60819837.0,NaN,NaN,12
174669,New York State Electric & Gas Corporation,Investment Tax Credit Adj.-Net (411.5),115,1999,0,51,51,N,NaN,NaN,NaN,NaN,12
102194,Illinois Power Company,"Exp. for Certain Civic, Political & Related ...",71,2007,0,48,48,,835075.0,749776.0,451656.0,362705.0,6
186043,"MDU Resources Group, Inc.","Revenues From Merchandising, Jobbing and Contr...",95,1995,0,29,29,N,7406339.0,7505219.0,NaN,NaN,12
99582,"Buckeye Power, Inc.",Net Utility Operating Income (Carried forward ...,245,2007,0,27,27,,43988041.0,49074389.0,NaN,NaN,12
30421,Kansas Gas and Electric Company,"Exp. for Certain Civic, Political & Related ...",80,2015,0,48,48,,26384.0,22993.0,26384.0,22993.0,3